{%extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Articles</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>DATE</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article[0]}}</td>
                <td><a href="/article/{{article[0]}}">{{article[1]}}</a></td>
                <td>{{article[3]}}</td>
                <td>{{article[4]}}</td>
                <td><a class="btn btn-warning btn" href="/article/{{article[0]}}/edit" role="button">EDIT</a></td>
                <td><a class="btn btn-danger btn" href="/article/{{article[0]}}/delete"
                     role="button">DELETE</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>DATE</th>
                <th>EDIT</th>
            </tr>
        </tfoot>
	</table>
    <td><a class="btn btn-primary btn" href="/add_article" role="button">추가하기</a></td>
</div>
{% endblock %}